// =============================
// Font Variable
// =============================
$primary-font: "Poppins", sans-serif;
$secondary-font: "Montserrat", sans-serif;

// =============================
// Color Variable
// =============================
// $primary-color: #647bff;
$primary-color: #ffdd00;
$section-title: #222231;

$clr1: #514d23;
$clr2: #1e222e;
$bg-color: #090a1a;
